.cssdau {
  /* màu chữ */
  color: blue;
  /* kiểu chữ */
  font-style: italic;
  /* phông chữ */
  font-family: Arial, Helvetica, sans-serif;
  /* chuyển đổi viết hoa */
  text-transform: capitalize;
  /* căn giữa */
  text-align: center;
  font-size: 18px;
  /* độ trong suốt */
  opacity: 30%;
}

h2 {
  color: red;
}
h3 {
  color: green;
}
.css2 {
  background-image: url(/css/img/5rd.jpg);
  opacity: 20%;
}
.css3 {
  /* ẩn đi hoàn toàn */
  background-image: url(/css/img/5rd.jpg);
  display: none;
}
.css4 {
  /* hiển thị dưới dạng khối */
  background-image: url(/css/img/5rd.jpg);
  display: block;
}
